/* slick.css : 사용 안 함 */

.dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 6px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #d1d1d1;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 100%; /* 원형 모양을 위한 border-radius 설정 */
  padding: 0;
}

.dots_custom li.slick-active button {
  background-color: linear-gradient(
    103.72deg,
    rgba(66, 230, 149, 0.8) 10.74%,
    rgba(59, 178, 184, 0.8) 85.3%
  );
}
