.react-calendar {
  padding: 10px;
  width: 800px;
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  /* background-color:  ${({ theme }) => theme.bgColor}; */
  color: #999;
  font-family: Arial, Helvetica, sans-serif;
  /* line-height: 1.125em; */
  border: 0px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation button {
  color: #222;
  font-weight: bold;
  width: auto;
  height: auto;
  background: none;
  /* font-size: 16px; */
  /* margin-top: 15px; */
}

.react-calendar__navigation__arrow {
  font-size: 30px;
}

.react-calendar__navigation__label {
  font-size: 20px;
}

.react-calendar__viewContainer {
  margin-bottom: 15px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #fff;
}

.react-calendar__navigation button[disabled] {
  background-color: #fff;
}

abbr[title] {
  text-decoration: none;
}

.react-calendar__tile {
  height: 80px;
  font-size: 16px;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #dff6ee;
  color: #fff;
  border-radius: 6px;
}

.react-calendar__tile--now {
  background: #f0f0f0;
  border-radius: 6px;
  font-weight: bold;
  color: #222;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #dff6ee;
  border-radius: 6px;
  font-weight: bold;
  color: #fff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #dff6ee;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f0f0f0;
}

.react-calendar__tile--range {
  background: #dff6ee;
  color: #fff;
  border-radius: 0;
}

.react-calendar__month-view__days__day--weekend {
  color: red;
}

.react-calendar__month-view__days__day--weekend:nth-child(7n) {
  color: blue;
}

/* .react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: top;
  font-size: 0.75em;
  font-weight: bold;
} */

/* .react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
} */

.react-calendar__tile {
  text-align: center;
  padding: 20px;
  height: 110px;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.react-calendar__month-view__weekdays {
  font-size: 1.2em;
}

/* 해당 월의 날짜가 아니면 투명도 0.5 */
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.3;
}
