.fc .fc-toolbar-title {
  width: 200px;
  /* left: 100px; */
  font-weight: bold;
  font-size: 2.25rem;
  text-align: center;
  vertical-align: center;
  margin-left: 10px;
}

/* 일요일 날짜: 빨간색 */
.fc-day-sun a {
  color: red;
}

/* 토요일 날짜: 파란색 */
.fc-day-sat a {
  color: blue;
}

/* .fc .fc-divider {
  display: none;
  border-color: #fff; 
  background-color: #fff; 
  height: 1px; 
} */

/* .fc-scrollgrid-section {
  border: none;
  border-collapse: collapse;
} */

/*month/week/day*/
/* .fc-button-active {
  border-color: #ffc107 !important;
  background-color: #ffc107 !important;
  color: #000 !important;
  font-weight: bold !important;
} */

/* 요일*/
.fc-col-header-cell-cushion {
  color: #999;
  font-size: 15px;
  /* padding-top: 5px; */
  margin-bottom: 10px;
}

/*일자*/
.fc-daygrid-day-number {
  /* color: #222; */
  font-size: 15px;
  margin-top: 5px;
  /* margin-right: 45px; */
  justify-content: center;
  vertical-align: center;
  align-items: center;
  cursor: pointer;
}

.fc-daygrid-day-top {
  justify-content: center;
  align-items: center;
  /* vertical-align: center; */
}

/* .fc-col-header-cell-cushion:hover {
  text-decoration: none;
  color: #222;
} */

.fc .fc-button {
  /* color: #fff; */
  background-color: #fff;
  border-color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  /* display: none; */
}

.fc .fc-button:focus {
  border: none;
}

.fc .fc-today-button {
  /* display: none; */
  /* margin-left: 10px; */
  border-radius: 10px;
  background-color: #fff;
  /* border: 1px solid #fff; */
}

.fc .fc-button:not(:disabled) {
  cursor: pointer;
  color: #fff;
  border: none;
  border-color: #fff;
}

.fc .fc-today-button .fc-button .fc-button-primary {
  border: none;
  border-color: #fff;
}

.fc-toolbar .fc-button:focus {
  outline: none; /* Remove the outline/border line */
}

/* .fc .fc-button-primary:hover {
  border-color:#fff;
} */

.fc .fc-toolbar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px;
  margin-left: 100px;
  padding: 10px;
}

.fc .fc-button-group {
  width: 40px;
}

.fc .fc-prev-button {
  position: fixed;
  left: -500px;
}

.fc .fc-next-button {
  position: fixed;
  right: -110px;
}
